body{
    display:flex;
    flex-direction: column;
}

.line{
    display : flex;
    background-color: rgb(114, 35, 35);
}

.newGridButton{
    width : 300px;
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 16px;
}